/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require_bootstrap.min
 *= require_bootstrap-rtl.min
 *= require_tree.

 */



.float-right{ float: right}
.float-left{float: left}

@font-face {
    font-family: yekan;
    src:url('fonts/BYekan.eot'),    
          url('fonts/BYekan.woff'),
          url('fonts/BYekan.ttf'); 
}

@font-face {
    font-family: tehran;
    src:url('fonts/BJalal.eot'),    
          url('fonts/BJalal.woff'),
          url('fonts/BJalal.ttf'); 
}

.BodyFont {
	font-family: yekan
}

.StarterFont {
	font-family: tehran;
	font-weight: bold;
}

.EmailFont {
	font-family: Courier New;
}

}
